/* Parte estilizada da minha página (Background) */

body{
    padding: 30px;
    background-color: #F3DFC1;
}

/* Parte estilizada da minha página (Letras e bordas) */

header{
    color: #18020C;
    font-size: 40px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
	margin: 15;
	border-bottom-width: 2px;
	border-bottom-style: solid;
    border-bottom-color: #18020C;
    
}

hr{
    color: #18020C;
}

.section_Buttons{
    display: flex;
    height: 60px;
    margin: 10;
	border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color:#18020C;
    text-align-last: center;
   
}

#section_Aluno{
    display: flex;
    height: 400px;
	margin: 10;
	border-bottom-width: 2px;
	border-bottom-style: solid;
    border-bottom-color: #18020C;
}

.divButton{
    height: 100px;
    width: 200px;
	border: 50px;
    flex: 1;
    text-align-last: center;
    
    
}



#div_Aluno{
    height: 50px;
    width: 200px;
    border: 50px;
}


h1{
    line-height: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #46494C;
    font-weight: bold;
}

.buttonGrey{
    text-align: center;
	background-color: #18020C;
	font-size: 15px;
	height: 50px;
	width: 100px;
	border-style: none;
    color: #46494C;
    text-align-last: center;
    
}

a{
	color: #ccdfcb;
	text-decoration: none;
	font-weight: none;
}

#articleAluno{
    flex: 2;
	margin-left: 15px;
	margin-bottom: 15px;
	border-right-width: 2px;
	border-right-style: solid;
    border-right-color: #18020C;
    
}

p{
    line-height: 0px;
    font-size: 20px;
    color: #46494C;
}

article{
	flex: 1;
	margin-left: 15px;
}

footer{
    font-size: 20px;
    color: #18020C;
    text-align: center
}

